// FONT SIZE GENERAL
$fontSize-h1: 9rem;
$fontSize-h2: 4rem;
$fontSize-h3: 4rem;
$fontSize-p-label: 3.2rem;
$width-imagenes: 100%;
// COLORES 
$color-principal: #EBF7FF;
$color-azul: #365FF7;
$color-blanco: white;
//CONTENEDOR
$min-width: 1800px;

//MEDIA QUERIES
$tablet: 1800px;
$celular: 480px;